$success: #52cf4f;
$primary: #4b51ef;
$gray: #f3f3f3;
$gray-dark: #bdbdbd;
$gray-darker: #a3a3a3;
$dark: #000000;
$white: #fff;
$disabled: #afafaf;
$error: #d91313;
$input-border: #d8d8d8;

$roboto-font: "Roboto", sans-serif;
